﻿body {
}

div{
    display:block;
}

.library-label{
    display:inline;
}

library-input {
    display: inline;
}

.btn-primary {
    align-content: center;
    color: #fff;
    background-color: #b6ff00;
    border-color: #b6ff02;
    position: relative;
    margin: 5px;
}

.btn-ussual {
    align-content: center;
    color: #fff;
    background-color: #b6ff00;
    border-color: #b6ff02;
    position: relative;
    margin: 5px;
    height:100px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
